<div class="container">
  <div class="jumbotron">
    <h1>Simple Chat</h1>
    <p>A simple chat app in rails</p>
    <form>
      <textarea class="form-control" placeholder="Type a message...."></textarea>
    </form>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well"><p></p></P><strong>Sample User:</strong> sample message</p></div>
    </div>
  </div>
</div>